# simpledeploy: config repo
# Only the following paths are tracked:
#   **/docker-compose.yml
#   **/.env
#   **/simpledeploy.yml
#   _global.yml
# Everything else is ignored.
*
!*/
!*/docker-compose.yml
!*/.env
!*/simpledeploy.yml
!_global.yml
!.gitignore
